language: python

matrix:
  include:
    - os: linux
      env: CONDA=2.7
    - os: linux
      env: CONDA=3.6

before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - wget http://repo.continuum.io/miniconda/Miniconda${CONDA:0:1}-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b -p /home/travis/miniconda 
  - export PATH=/home/travis/miniconda/bin:$PATH

install:
  - conda update --yes conda
  - conda config --append channels conda-forge
  - conda install --yes python=$CONDA atlas numpy scipy matplotlib pip pymongo pyflakes pytest setuptools
  - pip install .

script:
  - pyflakes disteval
  - python setup.py test
